<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.abra" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Abra</name>
    <description>Sample Apache Cordova App</description>
    <author email="jakeathotmail@gmail.com" href="https://www.linkedin.com/in/jacobjanak/">
        Jacob Janak
    </author>
    <content src="index.html" />
    <allow-navigation href="*://abra-2-db50d4975475.herokuapp.com/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
